# zsh stuff
alias zshconfig="mate ~/.zshrc"
alias ohmyzsh="mate ~/.oh-my-zsh"

# overrides
alias ls="ls -G"
alias l="ls -lF ${colorflag}"
alias ..='cd ..'
alias cd..='cd ..'
alias cd...='cd ../..'
alias cd....='cd ../../..'
alias cd.....='cd ../../../..'
alias cd/='cd /'

# shortcuts
alias d="cd ~/Documents"
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias p="cd ~/projects"
alias g="git"

## Copy paths
alias copypath='echo `pwd` | pbcopy'
alias cdpath='cd "`pbpaste`"'

# redo previous commmand with sudo
alias plz='sudo $(fc -ln -1)'

# Open chrome
alias chrome="/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome"

# Override ZSH's built ins
alias time="$(whence -p time)"

# npm
alias ns="npm start"
alias ffs="rm -rf node_modules && rm package-lock.json && npm i"

# tmux
alias t="tmux"
