.monaco-shell {
	font-family: 'Operator Mono', 'Inconsolata', monospace;
}

.monaco-workbench,
.monaco-workbench .part > .content {
	font-size: 14px;
}

.vs-dark
	.monaco-workbench
	> .part.editor
	> .content
	.editor-group-container
	> .title
	.tabs-container
	> .tab.dirty
	.close-editor-action {
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512;' xml:space='preserve'%3E%3Cpath style='fill:%23FF6536;' d='M54.211,249.7c0,0,20.228,29.717,62.624,54.871c0,0-30.705-259.502,169.358-304.571 c-51.257,188.121,65.2,241.174,107.651,141.786c70.893,94.651,17.066,177.229,17.066,177.229 c29.069,4.188,53.487-27.57,53.487-27.57c0.218,3.912,0.34,7.851,0.34,11.818C464.738,418.545,371.283,512,256,512 S47.262,418.545,47.262,303.262C47.262,284.744,49.686,266.794,54.211,249.7z'/%3E%3Cpath style='fill:%23FF421D;' d='M464.398,291.445c0,0-24.418,31.758-53.487,27.57c0,0,53.827-82.578-17.066-177.229 C351.394,241.174,234.937,188.121,286.194,0C275.479,2.414,265.431,5.447,256,9.018V512c115.283,0,208.738-93.455,208.738-208.738 C464.738,299.295,464.616,295.357,464.398,291.445z'/%3E%3Cpath style='fill:%23FBBF00;' d='M164.456,420.456C164.456,471.014,205.442,512,256,512s91.544-40.986,91.544-91.544 c0-27.061-11.741-51.379-30.408-68.138c-35.394,48.085-85.832-24.856-46.524-78.122 C270.612,274.196,164.456,287.499,164.456,420.456z'/%3E%3Cpath style='fill:%23FFA900;' d='M347.544,420.456c0-27.061-11.741-51.379-30.408-68.138c-35.394,48.085-85.832-24.856-46.524-78.122 c0,0-5.768,0.725-14.612,3.516V512C306.558,512,347.544,471.014,347.544,420.456z'/%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
}

.monaco-editor {
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.monaco-editor .findMatch,
.monaco-editor .selectionHighlight {
	background: #ffa0c4;
	border: 1px solid #ffa0c4;
	border-radius: 2px;
}

.monaco-editor .minimap .minimap-shadow-visible,
.monaco-editor .minimap .minimap-shadow-hidden {
	position: absolute;
	left: -6px;
	width: 6px;
	box-shadow: rgba(0, 0, 0, 0.4) -6px 0 6px -6px inset !important;
}

.monaco-tree .monaco-tree-rows > .monaco-tree-row {
	min-height: 25px;
}

.label-name {
	font-weight: bold !important;
	letter-spacing: 1.3;
}

.file-icon .label-name {
	font-weight: 400 !important;
	letter-spacing: 1.3;
}
