.monaco-shell {
  font-family: 'Operator Mono', 'Inconsolata', monospace;
}

.monaco-workbench,
.monaco-workbench .part > .content {
  font-size: 14px;
}

.monaco-workbench .part.editor>.content .editor-group-container.active>.title .tabs-container>.tab.dirty>.tab-close .action-label:not(:hover):before, .monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.dirty>.tab-close .action-label:not(:hover):before {
  color: #efc228;
}

.monaco-editor {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.monaco-editor .findMatch,
.monaco-editor .selectionHighlight {
  border-radius: 2px;
}

.monaco-editor .minimap .minimap-shadow-visible,
.monaco-editor .minimap .minimap-shadow-hidden {
  position: absolute;
  left: -6px;
  width: 6px;
  box-shadow: rgba(0, 0, 0, 0.4) -6px 0 6px -6px inset !important;
}

.monaco-tree .monaco-tree-rows > .monaco-tree-row {
  min-height: 25px;
}

.label-name {
  font-weight: bold !important;
  letter-spacing: 1.3;
}

.file-icon .label-name {
  font-weight: 400 !important;
  letter-spacing: 1.3;
}

.title-actions > .monaco-toolbar > .monaco-action-bar > .actions-container > .action-item > .action-label.icon.explorer-action {
  display: none !important;
}
.editor-actions > .monaco-toolbar > .monaco-action-bar {
  display: none !important;
}
